<div class="mainContent">
  <form [formGroup]="form" (ngSubmit)="formSubmit(form)">
    <div class="row form-group">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button mat-icon-button title="Save" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button mat-icon-button title="Cancel" routerLink="/home">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Movie
          </mat-panel-title>
          <mat-panel-description>
            add movie information
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="Title">Movie title</label>
          </div>
          <br/>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" type="text" id="title" placeholder="Title"
                   formControlName="title">
            <div *ngIf="form.get('title').errors?.required && form.get('title').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('title').errors?.minlength && form.get('title').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
          </div>

        </div>
        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="Title">Movie description</label>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <textarea class="form-control" type="text" id="description" placeholder="Description"
                      formControlName="description" style="height: 200px;align-content: center">
           </textarea>
            <div *ngIf="form.get('description').errors?.required && form.get('description').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('description').errors?.minlength && form.get('description').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
