<mat-toolbar color="primary">
  <h1>
    {{title}}
  </h1>
  <button mat-button routerLink="/home">Home</button>
  <button *ngIf="isloggedIn()| async" mat-button routerLink="/movie">Add new Movie</button>
  <button *ngIf="isloggedIn()| async" mat-button [matMenuTriggerFor]="menuAdmin">Administration</button>
  <button mat-button routerLink="/about">About</button>

  <button mat-button [matMenuTriggerFor]="menuUser" *ngIf="isloggedIn() | async">
    <mat-icon>supervisor_account</mat-icon>
    {{username}}
  </button>
</mat-toolbar>

<mat-menu #menuAdmin="matMenu">
  <button mat-menu-item routerLink="/user"> List of Users</button>
  <button mat-menu-item routerLink="/newUser"> Add user</button>
</mat-menu>
<mat-menu #menuUser="matMenu">
  <button mat-button (click)="logout()">Logout</button>
</mat-menu>

<router-outlet></router-outlet>
