<div class="mainContent">
  <form [formGroup]="form" (ngSubmit)="formSubmit(form)">

    <div class="row form-group">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button mat-icon-button title="Save" type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button mat-icon-button title="Cancel" routerLink="/user">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            User
          </mat-panel-title>
          <mat-panel-description>
            User information
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--      USERNAME-->
        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="username">Username</label>
          </div>
          <br/>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" type="text" id="username" placeholder="Username"
                   formControlName="username">
            <div *ngIf="form.get('username').errors?.required && form.get('username').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('username').errors?.minlength && form.get('username').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
            <div *ngIf="form.get('username').errors?.maxlength && form.get('username').dirty" class="text-danger">
              The maximum length of field is 50 characters
            </div>
          </div>
        </div>


        <!--      passs-->
        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="Password">Password</label>
          </div>
          <br/>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="password" class="form-control" id="password" placeholder="Password"
                   formControlName="password">
            <div *ngIf="form.get('password').errors?.required && form.get('password').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('password').errors?.minlength && form.get('password').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
            <div *ngIf="form.get('password').errors?.maxlength && form.get('password').dirty" class="text-danger">
              The maximum length of field is 50 characters
            </div>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="Firstname">Firstname</label>
          </div>
          <br/>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" type="text" id="firstName" placeholder="Firstname"
                   formControlName="firstName">
            <div *ngIf="form.get('firstName').errors?.required && form.get('firstName').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('firstName').errors?.minlength && form.get('firstName').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
            <div *ngIf="form.get('firstName').errors?.maxlength && form.get('firstName').dirty" class="text-danger">
              The maximum length of field is 50 characters
            </div>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="Lastname">Lastname</label>
          </div>
          <br/>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <input class="form-control" type="text" id="lastName" placeholder="Lastname"
                   formControlName="lastName">
            <div *ngIf="form.get('lastName').errors?.required && form.get('lastName').dirty" class="text-danger">
              Field is required
            </div>
            <div *ngIf="form.get('lastName').errors?.minlength && form.get('lastName').dirty" class="text-danger">
              The minimum length of field is 3 characters
            </div>
            <div *ngIf="form.get('lastName').errors?.maxlength && form.get('lastName').dirty" class="text-danger">
              The maximum length of field is 50 characters
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
